.App {
  text-align: center;
  background-color: antiquewhite;
}

.delete {
  background-color: red;
  color: white;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.delete:hover {
  background-color: darkred;
}

.edit {
  background-color: yellow;
  color: black;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
}

.edit:hover {
  background-color: darkgoldenrod;
}

.item {
  border-style: solid;
  border-bottom: 0;
  border-color: black;
}

.add {
  background-color: lightskyblue;
  border-radius: 5px;
}

.add:hover {
  background-color: lightslategray;
}

.save {
  background-color: greenyellow;
  border-radius: 5px;
}

.save:hover {
  background-color: green;
}